body{
    background-color:#f4f4f4;
    font-family:Arial,sans-serif
}

.titulo{
    color:blue font-size:36px;
}
contenedor {
    background:white; padding:20px; border-radius:10px;
}

p{ 
    font-size:18px;
}